@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40PX;
  padding-left: 10%;
  padding-right: 10%;
}
nav ul li{
list-style-type: none;
display: inline-block;
padding: 5px 10px;
margin-top: 2px;
}

nav ul li a
{
  font-size: 20px;
color: black;
text-decoration: none; 
font-weight: bold; 
}
nav ul li a:hover{
  color: blue;
  transform: .3s;
}
